<div class="container mx-auto bg-gray-100">
    <div class="grid grid-cols-12">
      <div class="col-span-2 bg-white shadow-md rounded-lg px-4 py-6">
        <h3 class="font-bold text-xl mb-4">Settings</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="group flex items-center text-gray-700 hover:text-indigo-500 font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <svg class="mr-2 h-6 w-6 text-gray-500 group-hover:text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2-2-4-4 4-4 2 2-4 4 4 4z" />
              </svg>
              General
            </a>
          </li>
          <li>
            <a href="#" class="group flex items-center text-gray-700 hover:text-indigo-500 font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <svg class="mr-2 h-6 w-6 text-gray-500 group-hover:text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 8V12H5.6364 L13 16V20M2.75 5v13.5 L12 18.75 L21.25 5z" />
              </svg>
              Document Panels
            </a>
          </li>
          <li>
            <a href="#" class="group flex items-center text-gray-700 hover:text-indigo-500 font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <svg class="mr-2 h-6 w-6 text-gray-500 group-hover:text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15h5l-1-4L9 5l-1 4H5v5z" />
              </svg>
              Advanced Panels
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-10 bg-white shadow-md rounded-lg px-4 py-6">
        <div class="space-y-8">
          <div>
            <h4 class="font-bold text-lg mb-2">Pre-publish checks</h4>
            <div class="flex items-center space-x-4">
              <div class="flex items-center">
                <input id="show-most-used-blocks" type="checkbox" class="w-5 h-5 rounded focus:ring-indigo-500" checked>
                <label for="show-most-used-blocks" class="ml-3 text-gray-700">
                  Show the most used blocks
                </label>
              </div>
              <div class="flex items-center">
                <input id="contain-cursor-inside-active-block" type="checkbox" class="w-5 h-5 rounded focus:ring-indigo-500">
                <label for="contain-cursor-inside-active-block" class="ml-3 text-gray-700">
                  Contain cursor inside active block
                </label>
              </div>
            </div>
          </div>
          
  